
.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
  gap: 100px;
}

.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: "cursive";
}
.primary-text {
  color: (--white);
}
.highlighted-text {
  color: #d43d57;
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
  border-radius: 12px solid white;
}

.highlighted-btn{
  background-color: #d61737;
}

.hireme-btn{  
  font-size: 12px;
  color: whitesmoke;
  border-color: whitesmoke;
  background-color: #1f2235;
}

.hireme-btn:hover{
  background-color: whitesmoke;
  border-color: #1f2235;
}


.primary-btn:hover{
  background-color: #d61737;
  border-color: whitesmoke;
}



.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-image: url(../../../assets/Home/Design\ sem\ nome\ \(62\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: whitesmoke;
  padding: 8px;  
  padding-left: 0px;
}

.colz-icon i:hover{  
  color: whitesmoke;
  transform: scale(1.2);
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-parent {
    gap: 80px;
  }
  
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media only screen and (max-width: 910px) {
  .profile-parent {
    gap: 4px;
  }

  .profile-picture {
    height: 320px;
    width: 320px;
  }
}
@media only screen and (max-width: 810px) {
  .profile-picture {
   
    margin-bottom:20px;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: center;
    gap:35px;
    margin-top: 30px;
  }
  .proflie-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .proflie-details {
    width: 95%;
  }
}
