.footer-bottom{
    position: absolute;
    margin: 0;
    background: #10101b;
    width: 100vw;
    padding: 20px 0;
    text-align: center;    
}
.footer-bottom p{        
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: rgb(110, 110, 110);    
}
.footer-bottom span{       
    color: whitesmoke;     
    text-transform: uppercase;    
    font-weight: 200;
}