.footer-parent img {      
  margin-top: 30px;
  margin-bottom: -15px;
}


/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .footer-parent img {
    display: flex;
    max-width: 200%;
    height: 170px;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: -15px;
  }
} 
