.footer-container img {      
  margin-top: 30px;
  margin-bottom: -1px;
}


/*IPAD PRO RESPONSIVENESS*/
/* @media only screen and (max-width: 1110px) {
  .footer-container img {
    margin-top: 30px;
    margin-bottom: -1px;
  }
}  */
